<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controlller.Authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controlller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>controlller.User.AddNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>controlller.User.ListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controlller.Authentication.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controlller.Authentication.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueDetailsServlet</servlet-name>
        <servlet-class>controlller.Issue.IssueDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueListServlet</servlet-name>
        <servlet-class>controlller.Issue.IssueListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIssueServlet</servlet-name>
        <servlet-class>controlller.Issue.NewIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequirementDetailsServlet</servlet-name>
        <servlet-class>controlller.Requirement.RequirementDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequirementIssueServlet</servlet-name>
        <servlet-class>controlller.Requirement.RequirementIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequirementListServlet</servlet-name>
        <servlet-class>controlller.Requirement.RequirementListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controlller.User.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>controlller.Authentication.verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResetLink</servlet-name>
        <servlet-class>Service.SendResetLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Service.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>controlller.User.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSettingServlet</servlet-name>
        <servlet-class>controller.Setting.UpdateSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListServlet</servlet-name>
        <servlet-class>controller.Setting.SettingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailServlet</servlet-name>
        <servlet-class>controller.Setting.SettingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingServlet</servlet-name>
        <servlet-class>controller.Setting.AddSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>controller.Allocation.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllocationController</servlet-name>
        <servlet-class>controller.Allocation.DeleteAllocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAllocationController</servlet-name>
        <servlet-class>controller.Allocation.UpdateAllocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIssue</servlet-name>
        <servlet-class>controlller.Issue.DeleteIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailIssue</servlet-name>
        <servlet-class>controlller.Issue.DetailIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterIssue</servlet-name>
        <servlet-class>controlller.Issue.FilterIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIssue</servlet-name>
        <servlet-class>controlller.Issue.InsertIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListIssue</servlet-name>
        <servlet-class>controlller.Issue.ListIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIssue</servlet-name>
        <servlet-class>controlller.Issue.SearchIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIssue</servlet-name>
        <servlet-class>controlller.Issue.UpdateIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequirement</servlet-name>
        <servlet-class>controlller.Requirement.DeleteRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRequirement</servlet-name>
        <servlet-class>controlller.Requirement.DetailRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRequirement</servlet-name>
        <servlet-class>controlller.Requirement.FilterRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRequirement</servlet-name>
        <servlet-class>controlller.Requirement.InsertRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequirement</servlet-name>
        <servlet-class>controlller.Requirement.ListRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequirement</servlet-name>
        <servlet-class>controlller.Requirement.SearchRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequirement</servlet-name>
        <servlet-class>controlller.Requirement.UpdateRequirement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/ListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResetLink</servlet-name>
        <url-pattern>/SendResetLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSettingServlet</servlet-name>
        <url-pattern>/UpdateSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListServlet</servlet-name>
        <url-pattern>/SettingListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailServlet</servlet-name>
        <url-pattern>/SettingDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingServlet</servlet-name>
        <url-pattern>/AddSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/application</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllocationController</servlet-name>
        <url-pattern>/deleteAllocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAllocationController</servlet-name>
        <url-pattern>/updateAllocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIssue</servlet-name>
        <url-pattern>/deleteIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailIssue</servlet-name>
        <url-pattern>/detailIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterIssue</servlet-name>
        <url-pattern>/filterIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIssue</servlet-name>
        <url-pattern>/insertIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListIssue</servlet-name>
        <url-pattern>/listIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchIssue</servlet-name>
        <url-pattern>/searchIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIssue</servlet-name>
        <url-pattern>/updateIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequirement</servlet-name>
        <url-pattern>/deleteRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRequirement</servlet-name>
        <url-pattern>/detailRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRequirement</servlet-name>
        <url-pattern>/filterRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRequirement</servlet-name>
        <url-pattern>/insertRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequirement</servlet-name>
        <url-pattern>/listRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequirement</servlet-name>
        <url-pattern>/searchRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequirement</servlet-name>
        <url-pattern>/updateRequirement</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
